body {
    background-color: #ffffff;
    background-size: auto;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/05/19/02/berry-1238249_960_720.jpg);
    height: 100%;
}

label{
    font-size: 30px;
    margin: 25px;
    font-family: cursive;
    color: #740000;
    padding: 70px 50px 20px 150px;
}

#container {
    width: 100%;
    margin: auto;
    height: 100%;
}

#connect-btn{
    background-color: #ffffff;
    border-color: #b9080e;
}

.form-control{
    margin: 25px;
    width: 50%;
}

.usernameWindow{
    text-align: center;
    margin: 185px;
}

.chat-header{
    color: #613030;
    font-family: cursive;
    text-align: center;
    margin: 25px;
    font-size: 30px;
}

.form-control{
    margin-top: 6px;
}

.row {
    height: 100%;
    width: 100%;
    background-color: #f0f9ff;
    margin: auto;
    width: 50%;
    border-color: #854949;
    border: 2px dashed;
    border-radius: 15px;
    padding: 10px;
}

.chat-message {
    min-height: 22px;
    padding-left: 16px;
    margin: 6px;
}

.chat-user{
    text-align: left;
    float: right;
    background-color: #b0d1f7;
    border-color: #854949;
    border: 2px dotted;
    border-radius: 15px;
    padding: 10px;
}

.chat-messages-empty{
    padding: 20px;
    color: #00000038;
    font-size: 20px;
}
.chat-messages-time{
    font-size: 12px;
    color: rgba(102, 102, 102, 0.808);
    float: left;
}

.chat-messages-author{
    font: bold;
    font-size: 12px;
    color: rgb(107, 106, 106);
    float: left;
}

.chat-messages-content{
    font: bold;
    font-size: 18px;
    float: left;
}